<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SocialSite{% endblock %}</title> 
    {% load bootstrap5 %}
    {% load widget_tweaks %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/">SocialSite</a>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href="/chat">Chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <div class="input-group">
                            <input id="searchInput" type="search" class="form-control rounded" placeholder="User Search" aria-label="Search" aria-describedby="search-addon" />
                            <button id="searchButton" type="button" class="btn btn-outline-primary">search</button>
                        </div>
                        <div id="searchResults"></div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="/login">Login</a>
                    </li>
                    <li class="nav-item"></li>
                        <a class="nav-link active" href="/register">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    
</body>

<div class="d-flex flex-column min-vh-100">
    <footer class="mt-auto">
      <div class="p-4 bg-dark text-white text-center">
        <p>&copy; 2023 SocialSite</p>
      </div>
    </footer>
  </div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Select the button by its id
        const searchButton = document.getElementById("searchButton");

        // Add a click event listener
        searchButton.addEventListener("click", function() {
            // Retrieve the value from the input field
            const query = document.getElementById("searchInput").value;

            // Construct the URL
            const searchUrl = `/search?query=${encodeURIComponent(query)}`;

            // Redirect
            window.location.href = searchUrl;
        });
    });
</script>



</html>
