{% extends 'base.html' %}

{% block title %}Home - SocialSite{% endblock %}

{% block content %}
    
    {% if user.is_authenticated %}
        
        <div class="container mt-5">
        <!-- user profile code -->
        {% include 'profile_element.html' %}

        <!-- add gallery code here -->
        <div class="border-bottom my-3"></div>
        {% include 'gallery.html' %}
        <div class="border-bottom my-3"></div>
        {% include 'friends.html' %}
        <div class="border-bottom my-3"></div>


        {% include 'posts.html' %}
        </div>

        
        
    {% else %}
        {% include 'welcome.html' %}
    {% endif %}


{% endblock %}
