


<div id="postsContainer" class="container mt-5">
    <!-- Posts will go here, loop through djnago posts object -->

{% if profile_user == user %} 
<!-- CODE FOR SUBMITTING POSTS GOES HERE -->
<form method="post" action="/api/posts/">
    {% csrf_token %}
    <div class="form-group">
        <label for="postText">New Post:</label>
        <textarea class="form-control" id="content" name="content" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<!------------------------------------------>
{% endif %}

    {% for post in posts %}
        <div class="card mb-4 mt-2">
            <div class="card-header">   
            </div>
            <div class="card-body">
                <p class="card-text">{{ post.content }}</p>
                
            </div>
            <div class="card-footer text-muted">
                <p class="card-text">Posted on {{ post.created }}</p>
            </div>
        </div>
    {% endfor %}

</div>