<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SocialSite{% endblock %}</title> 
    
    <!-- <style>
        body { font-family: Arial, sans-serif; margin: 0; padding: 0; }
        .navbar { background-color: #007bff; padding: 15px; color: white; }
        .container { padding: 20px; }
        .section { margin-bottom: 20px; }
    </style> -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <!-- add SocialSite logo that links to home page and make the text BIG-->
                <li class="nav-item">
                    <a class="nav-link active" href="/">SocialSite</a>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href="/logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/feed">Feed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/chat">Chat</a>
                    </li>
                    <li class="nav-item navbar-right">
                        <form action="/search" method="get">
                            <input type="text" name="q" placeholder="Search for people">
                            <button type="submit">Search</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" href="/login">Login</a>
                    </li>
                    <li class="nav-item"></li>
                        <a class="nav-link active" href="/register">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <div class="mt-5 p-4 bg-dark text-white text-center">
        <p>&copy; 2023 SocialSite</p>
    </div>
</body>
</html>
